<nav class="navbar fixed-top navbar-dark bg-secondary">
  <LinkTo @route="index" class="navbar-brand" title="Home">
    <img src="/images/rocket.svg" width="40" height="40" class="d-inline-block align-top" alt="GoRestApi Sample by Gerardo Gutierrez">
    Rest API Sample
  </LinkTo>
</nav>