
@import "ember-cli-bootstrap-4/bootstrap";

$site-color: #4d4d4d;
$site-background: #dedbdb;
body{
  color: $site-color;
  background: $site-background;
  margin: 100px 0 100px 0;
}

.index{
  .jumbotron{
    flex: 1 1 0;
  }
}

.users .edit{
  form{
    border: #ccc 1px solid;
    padding: 15px;
    border-radius: 10px;
    label{
      display: block;
    }
  }
}

.loading{
  .animation{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

.footer{
  background: $site-color;
  color: #fff;
  hr{
    background: #dedede;
  }
}

.pagination{
  display: flex;
  justify-content: center;
  li > a, li > span{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  li.active > a, li.active > span{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  li.previous > a{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  li.next > a{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.fa-pencil-alt{
  color: #4d4d4d;
}