<h1 class="p-5 display-4">List of Comments</h1>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover rounded">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Body</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      {{#each @model as |comment index|}}
        <tr>
          <td>{{add (add index 1) (mult (sub @model.meta.page 1) @model.meta.limit) }}</td>
          <td>{{truncate comment.name 50 true}}</td>
          <td>{{comment.email}}</td>
          <td>{{truncate comment.body 100 true}}</td>
          <td><LinkTo @route="comments.edit" @model={{comment}}><FaIcon @icon="pencil-alt" @size="lg" /></LinkTo></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<Pagination::DataPaginationPager
  @count={{@model.meta.pages}}
  @current={{@model.meta.page}}
/>