<h1 class="p-5 display-4">List of Users</h1>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover rounded">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      {{#each @model as |user index|}}
        <tr>
          <td>{{add (add index 1) (mult (sub @model.meta.page 1) @model.meta.limit) }}</td>
          <td>{{user.name}}<br></td>
          <td>{{user.email}}<br></td>
          <td>{{user.gender}}<br></td>
          <td>{{user.status}}<br></td>
          <td><LinkTo @route="users.edit" @model={{user}}><FaIcon @size="lg" @icon="pencil-alt" /></LinkTo></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<Pagination::DataPaginationPager
  @count={{@model.meta.pages}}
  @current={{@model.meta.page}}
/>