<h1 class="p-5 display-4">List of Products</h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover rounded">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      {{#each @model as |product index|}}
        <tr>
          <td>{{add (add index 1) (mult (sub @model.meta.page 1) @model.meta.limit) }}</td>
          <td>{{truncate product.name 50 true}}</td>
          <td>{{truncate product.description 100 true}}</td>
          <td>
            <img class="img-responsive" width="75" src={{product.image}} alt={{product.name}} />
          </td>
          <td>{{format-money (hash amount=product.price currency='USD')}}</td>
          <td><LinkTo @route="products.edit" @model={{product}}><FaIcon @icon="pencil-alt" @size="lg" /></LinkTo></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<Pagination::DataPaginationPager
  @count={{@model.meta.pages}}
  @current={{@model.meta.page}}
/>