<div class="saving-animation {{if @model.isSaving '' 'd-none'}}">
  <div class="d-flex justify-content-center">
    <FaIcon @icon="spinner" @size="2x" @spin={{true}}/>
  </div>
  <div class="d-flex justify-content-center">
    <small>Saving...</small>
  </div>
</div>