<div class="row mt-4">
  <div class="col-md-12 col-lg-6">
    <form>
      <Common::SavingAnimation @model={{@comment}} />
      <div class="form-group">
        <label>Name:
          <Input class="form-control" type="text" @value={{@comment.name}} disabled={{@comment.isSaving}} placeholder="Name" />
        </label>
      </div>
      <div class="form-group">
        <label>Email:
          <Input class="form-control" type="email" @value={{@comment.email}} disabled={{@comment.isSaving}} placeholder="Email" />
        </label>
      </div>
      <div class="form-group">
        <label>Body:
          <Textarea @value={{@comment.body}} rows="8" class="form-control" disabled={{@comment.isSaving}} placeholder="Body" />
        </label>
      </div>

      <div class="row">
        <div class="col-md-3">
          <button type="button" {{on "click" this.cancel}} class="btn btn-light btn-block mb-3">Cancel</button>
        </div>
        <div class="col-md-3  offset-md-6">
          <button type="button" {{on "click" this.save}} class="btn btn-success btn-block float-right">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>