<div class="row mt-4">
  <div class="col-md-12 col-lg-6">
    <form>
      <Common::SavingAnimation @model={{@product}} />
      <div class="form-group">
        <label>Name:
          <Input class="form-control" type="text" @value={{@product.name}} disabled={{@product.isSaving}} placeholder="Name" />
        </label>
      </div>
      <div class="form-group">
        <label>Body:
          <Textarea @value={{@product.description}} rows="8" class="form-control" disabled={{@product.isSaving}} placeholder="Body" />
        </label>
      </div>
      <div class="form-group">
        <label>Image:
          <img class="img-responsive d-block" src={{@product.image}} width="300" disabled={{@product.isSaving}} alt={{@product.name}} />
        </label>
      </div>
      <div class="form-group">
        <label>Price:
          <Input class="form-control" type="text" @value={{@product.price}} disabled={{@product.isSaving}} placeholder="Name" />
        </label>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button type="button" {{on "click" this.cancel}} class="btn btn-light btn-block mb-3">Cancel</button>
        </div>
        <div class="col-md-3  offset-md-6">
          <button type="button" {{on "click" this.save}} class="btn btn-success btn-block float-right">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>