<div class="row mt-4">
  <div class="col-md-12 col-lg-6">
    <form>
      <Common::SavingAnimation @model={{@user}} />
      <div class="form-group">
        <label>Name:
          <Input class="form-control" type="text" @value={{@user.name}} disabled={{@user.isSaving}} placeholder="Name" />
        </label>
      </div>
      <div class="form-group">
        <label>Email:
          <Input class="form-control" type="email" @value={{@user.email}} disabled={{@user.isSaving}} placeholder="Email" />
        </label>
      </div>
      <div class="form-group">
        <label>Gender:
          <Input class="form-control" type="text" @value={{@user.gender}} disabled={{@user.isSaving}} placeholder="Gender" />
        </label>
      </div>
      <div class="form-group">
        <label>Status:
          <Input class="form-control" readonly type="text" @value={{@user.status}} disabled={{@user.isSaving}} placeholder="Status" />
        </label>
      </div>

      <div class="row">
        <div class="col-md-3">
          <button type="button" {{on "click" this.cancel}} class="btn btn-light btn-block mb-3">Cancel</button>
        </div>
        <div class="col-md-3  offset-md-6">
          <button type="button" {{on "click" this.save}} class="btn btn-success btn-block float-right">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>