<div class="index">
  <div class="container">
    <h1 class="text-center p-5 display-4">
      Go Rest API Testing
    </h1>
    <div class="d-flex flex-column flex-md-row">
      <div class="jumbotron text-center m-2 bg-teal">
        <p>
          <FaIcon @icon="users" @size="4x"/>
        </p>
        <p class="lead">Complete list of all users in the system.</p>
        <p><LinkTo @route="users" @query={{hash page=1}} class="btn btn-lg btn-success">View</LinkTo></p>
      </div>

      <div class="jumbotron text-center m-2 bg-teal">
        <p>
          <FaIcon @icon="book-open" @size="4x"/>
        </p>
        <p class="lead">List of Posts from all users in the system.</p>
        <p><LinkTo @route="posts" @query={{hash page=1}} class="btn btn-lg btn-success">View</LinkTo></p>
      </div>

      <div class="jumbotron text-center m-2 bg-teal">
        <p>
          <FaIcon @icon="comments" @size="4x"/>
        </p>
        <p class="lead">List of Comments from all users in the system.</p>
        <p><LinkTo @route="comments" @query={{hash page=1}} class="btn btn-lg btn-success">View</LinkTo></p>
      </div>
    </div>
  </div>
</div>
