<div class="users">
  <div class="container">
    <nav aria-label="breadcrumb" class="mt-5">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <LinkTo @route="index">Home</LinkTo>
        </li>
        <li class="breadcrumb-item active">Users</li>
      </ol>
    </nav>

    {{outlet}}

  </div>
</div>